@import "tailwindcss";
@font-face {
  src: url("/fonts/Jura-Regular.ttf") format("truetype");
  font-family: 'Jura';
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
}

:root {

}

body {  
  font-family: "Jura", serif;
}

@layer components {
  .gold-text {
    color: #cea86f;
  }

  .gold-background {
    background-color: #cea86f;
  }

    .noScrollbar {
    scrollbar-width: 0;
  }

  .noScrollbar::-webkit-scrollbar {
    display: none;
  }
}

* {
  scrollbar-width: 0;
  ::-webkit-scrollbar {
    display: none;
  } 
}