@import "tailwindcss";
@font-face {
  src: url("/fonts/Jura-Regular.ttf") format("truetype");
  font-family: 'Jura';
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
}

:root {

}

body {
  font-family: "Jura", serif;
}

@layer components {
  .gold-text {
    color: #cea86f;
  }
}